<%= render partial: "shared/nav" %>

<%= link_to "Create New Coupon", new_merchant_coupon_path(@merchant) %>

<h3>Coupons:</h3>
<% @coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.id %>">
    <p><%= link_to "#{coupon.name}", merchant_coupon_path(@merchant, coupon) %>
      Amount off: <%= coupon.amount_off %> <%= coupon.discount_type %></p>
  </div>
<% end %>